*{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}
body{
    margin: 0;
}
.new{
    /* padding: 10px; */
    position: relative;
    display: inline-block;
    /* left: 209.60000610351562px; */
}
input{
    padding: 12px;
    outline: none !important;
    /* border-radius: 5px 5px 0px 0px; */
    border-radius: 5px;
    transition: 0.3s ease all;
    border: 2px solid #eee;
    width: 176px;
}

.dropdown-options{
    padding: 10px 0;
    border-left: 1px solid #eee;
    border-bottom: 1px solid #eee;
    border-right: 1px solid #eee;
    border-top: none;
    display: inline-block;
    width: 200px;
    border-radius: 0px 0px 5px 5px;
    display: none;
}

.dropdown-options span{
    padding: 10px;
    color: #212121;
    display: block;
    transition: 0.3s ease all;
    cursor: pointer;
}

.dropdown-options span:hover{
    background-color: dodgerblue;
    color: #fff;
}

.active{
    background-color: dodgerblue;
}